body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 120%;
  }

#title
{
    text-align:center;
}

.link
{
  height: 25px;
  width: 25px;
  display:inline;
}

.link:hover
{
  color: aqua;
  font-size: 200%;
  font-weight: bold;
}

.trolley
{
  height: 20px;
  width: 25px;
}

.trolley_button
{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.list
{
  background-color: rgba(255, 0, 0, 0.75);
  width: fit-content;
}

.form_element
{
  white-space: nowrap;
}

.response
{
  display: inline-block;
}

.star_container
{
  text-align: left;
}

.star
{
  height: 20px;
  width: 20px;
}